body {

    color: #f7f7f7;
  }

.jumbotron {
    background-image: url("https://www.visittheusa.com/sites/default/files/styles/hero_l/public/images/hero_media_image/2019-05/49c866d6abf9ca9299ebdffe27700a35.jpeg?itok=QqNwyjI1");
    background-size: 100% 100%;
    text-align: center;
}
